<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="dep/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="dep/jsoneditor.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row s12">
            <div class="col s8">
                <h4>Settings</h4>
            </div>
            <div class="col s4">
                <div class="row" style="margin-top: 20px; margin-left: auto; margin-right: auto;" >
                    <a class="waves-effect waves-light btn" onclick="saveSettings();">Save</a>
                </div>
            </div>
        </div>
        <div class="row s12">
            <div id="jsoneditor" style="width: 100%; height: auto;"></div>
        </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        {% include 'settings.js' %}
    </script>

</body>

</html>